NEXT_PUBLIC_SUPABASE_URL=https://wwlgrktvcrkmrbyapyml.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3bGdya3R2Y3JrbXJieWFweW1sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3OTExMTksImV4cCI6MjEwMDM2NzExOX0.MB5cp4c5OzFb9zRTPC7Z_cRqdB90jtJqakQgLGOcPAU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3bGdya3R2Y3JrbXJieWFweW1sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDc5MTExOSwiZXhwIjoyMTAwMzY3MTE5fQ.7Ju2s6omNmVw9NzUfziioMVYYb8b5R-OZUAvxO3npEs
